*{
	margin: 0px 3%;
	padding: 0px;
}

a{
	font-size: 32px;
	text-decoration: none;
}
li{
	list-style-type: none;
	float: left;
	width: 10%;
}

nav{
	position: sticky;
	top: 0px;
	background-color: rgba(0,0,0,0.1);
}

nav::after{
	content: "";
	display: block;
	clear: left;
	margin-bottom: 25px;
}

.box{
	width: 100px;
	height: 100px;
	/*display: inline-block;*/
	float: left;
	line-height: 100px;
	text-align: center;
	margin: 0;
}

.box1{
	background-color: tomato;
	position: relative;
	left: 50px;

}

.box2{
	background-color: lightgreen;
	position: relative;
	top: 50px;
}

.box3{
	background-color: lightblue;
	position: relative;
	top: 100px;
	right: 50px;

}

.circle1{
	background-color: #1e00ff;
	position: relative;
	left: 50px;
	border-radius: 50%; 

}

.circle2{
	background-color: #1e00ff;
	position: relative;
	/*top: 50px;*/
	border-radius: 50%;
}

.diamond{
	background-color: #ff8c00;
	width: 95px;
	height: 95px;
	position: relative;
	top: 30px;
	right: 120px;
	transform: rotate(45deg);
}
body{
	background: url('../images/sooon.jpg') 
					no-repeat fixed 0px 0px / cover;
					/*fixed 0px 0px ;*/
	color: white;
	font-family: arial;
	font-size: 25px;
	text-align: justify;

}w