@import "menu.css";

body{
	font-family: arial;
	background-color: hsla(27, 100%, 77%, 1);
}

input[type]{
	border: 1px solid black;
}

input[type="submit"]{
	background-color: salmon;
}

.one label{
	font-family: century gothic;
}
table{
	margin-top: 20px;
	border-collapse: collapse;
	line-height: 20px
}
table,td,tr{
	border: 1px solid black;
}
tr:nth-child(odd){
	background-color: lightgrey;
}
tr:nth-child(even){
	background-color: grey;
}